@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
    font-family: 'VT323', monospace; 
    color: lime;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    height: min-content;
    width: min-content;
}

footer {
    margin-top: auto;
}

#retake-btn {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}